
:root{
    --bg: url("https://i.imgur.com/VhLwBZT.jpg");
    --bgb: url("https://i.imgur.com/eEjh83q.jpg");
    --dm: url("https://i.imgur.com/iBYLtyp.png");
    --color: 12, 12, 12;
    --aero: 0.65;
    --blue1: 3, 16, 51;
    --blue2: 0, 8, 33;
}

/*not being used yet*/
@import url(https://rawgit.com/RudySPG/Discord_Themes/master/Fortnite/base/source_files/fortnite_fonts.css);
/* This is the Fortnite Bold Font */
@font-face {font-family: "Burbank Big Condensed Bold";
    src: url("//db.onlinewebfonts.com/t/800e985f75a5a56c2f7b4be502d286de.eot");
    src: url("//db.onlinewebfonts.com/t/800e985f75a5a56c2f7b4be502d286de.eot?#iefix") format("embedded-opentype"),
    url("//db.onlinewebfonts.com/t/800e985f75a5a56c2f7b4be502d286de.woff2") format("woff2"),
    url("//db.onlinewebfonts.com/t/800e985f75a5a56c2f7b4be502d286de.woff") format("woff"),
    url("//db.onlinewebfonts.com/t/800e985f75a5a56c2f7b4be502d286de.ttf") format("truetype"),
    url("//db.onlinewebfonts.com/t/800e985f75a5a56c2f7b4be502d286de.svg#Burbank Big Condensed") format("svg");
}

/* This is the Fortnite Light Font */
@font-face {font-family: "Burbank Big Condensed Light";
    src: url("//db.onlinewebfonts.com/t/703617a01296c595b1daed4c5de1f6b7.eot");
    src: url("//db.onlinewebfonts.com/t/703617a01296c595b1daed4c5de1f6b7.eot?#iefix") format("embedded-opentype"),
    url("//db.onlinewebfonts.com/t/703617a01296c595b1daed4c5de1f6b7.woff2") format("woff2"),
    url("//db.onlinewebfonts.com/t/703617a01296c595b1daed4c5de1f6b7.woff") format("woff"),
    url("//db.onlinewebfonts.com/t/703617a01296c595b1daed4c5de1f6b7.ttf") format("truetype"),
    url("//db.onlinewebfonts.com/t/703617a01296c595b1daed4c5de1f6b7.svg#Burbank Big Condensed") format("svg");
}

/* This is the Fortnite Medium Font */
@font-face {font-family: "Burbank Big Condensed Medium";
    src: url("//db.onlinewebfonts.com/t/831e1041c97169ac1d4dc3d161b235cc.eot");
    src: url("//db.onlinewebfonts.com/t/831e1041c97169ac1d4dc3d161b235cc.eot?#iefix") format("embedded-opentype"),
    url("//db.onlinewebfonts.com/t/831e1041c97169ac1d4dc3d161b235cc.woff2") format("woff2"),
    url("//db.onlinewebfonts.com/t/831e1041c97169ac1d4dc3d161b235cc.woff") format("woff"),
    url("//db.onlinewebfonts.com/t/831e1041c97169ac1d4dc3d161b235cc.ttf") format("truetype"),
    url("//db.onlinewebfonts.com/t/831e1041c97169ac1d4dc3d161b235cc.svg#Burbank Big Condensed") format("svg");
}


/* This is the Fortnite Black Font */
@font-face {font-family: "Burbank Big Condensed Black";
    src: url("//db.onlinewebfonts.com/t/cdc8c3de1e6bd5a9a67c6a001f9fedd0.eot");
    src: url("//db.onlinewebfonts.com/t/cdc8c3de1e6bd5a9a67c6a001f9fedd0.eot?#iefix") format("embedded-opentype"),
    url("//db.onlinewebfonts.com/t/cdc8c3de1e6bd5a9a67c6a001f9fedd0.woff2") format("woff2"),
    url("//db.onlinewebfonts.com/t/cdc8c3de1e6bd5a9a67c6a001f9fedd0.woff") format("woff"),
    url("//db.onlinewebfonts.com/t/cdc8c3de1e6bd5a9a67c6a001f9fedd0.ttf") format("truetype"),
    url("//db.onlinewebfonts.com/t/cdc8c3de1e6bd5a9a67c6a001f9fedd0.svg#Burbank Big Condensed") format("svg");
}

* {
 font-family: Burbank Big Condensed Medium !important;
 font-size: 18px !important;
 letter-spacing: 1.5px !important;
 }


/*Main*/
.app {
    background: var(--bg) !important;
    background-attachment: fixed !important;
    background-position: center !important;
}


/*Server*/
.guilds-wrapper{
    margin: 10px 10px 10px 10px;
    background: linear-gradient(rgba(var(--blue1), var(--aero)), rgba(var(--blue1), var(--aero))), var(--bgb);
    background-attachment: fixed;
    background-position: center;
}


/*Messages*/
.message-group .comment::before {
    content: "";
    display: block;
    width: 20px;
    height: 20px;
    position: relative;
    left: -30px;
    top: 0px;
    background-image: linear-gradient(rgba(var(--blue1), var(--aero)), rgba(var(--blue1), var(--aero))), var(--bgb);
    background-position: center;
    background-attachment: fixed;
    background-position: center;
    clip-path: polygon(100% 0, 100% 100%, 100% 100%, 0 1%);
}
    

}


.messages-popout-wrap .comment::before {
    left: -20px;
    top: 0px;
    background: linear-gradient(rgba(var(--blue1), var(--aero)), rgba(var(--blue1), var(--aero))), var(--bgb);
    background-attachment: fixed;
    background-position: center;
}

.message-group .comment {
    background: linear-gradient(rgba(var(--blue1), var(--aero)), rgba(var(--blue1), var(--aero))), var(--bgb);
    background-attachment: fixed;
    background-position: center;
    padding: 0px 7px 10px 10px;
}

.container-1UB9sr, .container-2Thooq{
    border-bottom: 2px solid #000821;
}

/*Title Bar*/
.wordmark-2iDDfm > svg > path{
    display: none !important;
}

.wordmark-2iDDfm {
    background-image: url('https://i.imgur.com/pDroWH3.png') !important;
    background-position: center !important;
    background-size: contain !important;
    background-repeat: no-repeat !important;
    margin: 0px 0px 0px 4px;
    width: 37px; /*55px*/
    height: 16px; /*default*/
}

.appMount-3VJmYg{
    background-image: url('https://i.imgur.com/0zrnj1Q.png');
    background-color: #000a2c;
    background-position: center !important;
    background-size: contain !important;
    background-repeat: no-repeat !important;
}

.theme-dark .friends-table .scroller-wrap ::-webkit-scrollbar-track-piece, 
.theme-dark .messages-wrapper .scroller-wrap ::-webkit-scrollbar-track-piece {
    background-color: transparent;
    border-color: transparent;
}

.channels-Ie2l6A {
    margin: 10px 10px 10px 10px;
    background: linear-gradient(rgba(var(--blue1), var(--aero)), rgba(var(--blue1), var(--aero))), var(--bgb);
    background-attachment: fixed;
    background-position: center;
}

.container-PNkimc {
    background-color:  transparent;
}

 /* fix not having a background image anymore */
.layers-3iHuyZ, .layer-3QrUeG, .container-2lgZY8, .typing-2GQL18 {
  background: transparent !important;
}

/* optionally adjust background brightness (0: original image, 1: black) */
.layers-3iHuyZ {
  background: rgba(0,0,0, 0.3) !important;
}

.container-2lgZY8 {
    background-color:  rgba(0,0,0,0);
}

.theme-dark .layer, .theme-dark .layers {
    background: transparent;
}

.theme-dark .chat form {
    background-color: transparent;
    box-shadow: none;
}
.theme-dark .chat>.content {
    background-color: transparent;
}
.theme-dark .chat {
    background-color: transparent;
}

.theme-dark .friends-table, .theme-dark .messages-wrapper {
    background-color: transparent;
}
.theme-dark .members-1998pB {
    background-color: transparent;
}
.theme-dark .title-3qD0b- {
    background: transparent;
    box-shadow: none;
}
.theme-dark #friends {
    margin: 10px 10px 10px 10px;
    background: linear-gradient(rgba(var(--blue1), var(--aero)), rgba(var(--blue1), var(--aero))), var(--bgb);
    background-attachment: fixed;
    background-position: center;
}
.theme-dark .headerBar-UHpsPw {
    background: transparent;
}
.theme-dark .ui-standard-sidebar-view .content-region {
    background: transparent;
}
.theme-dark .ui-standard-sidebar-view .sidebar-region {
    background: transparent;
}
.theme-dark .ui-standard-sidebar-view {
    background: transparent;
}

/*Message Profile pictures*/

.message-group .avatar-large {
   width           : 40px !important;
   height          : 40px !important;
   border          : 3px solid #ed8745;
   border-radius   : 0 !important;
   background-size : cover !important;
   transition      : all .4s ease !important;
   opacity         : 1 !important;
   margin-bottom: 12px;
   padding-left: 1px;
   margin-left: -2px;
   margin-top: -3px;
   margin-right: 30px;
}

.message-group .avatar-large:hover {
   width           : 60px !important;
   height          : 60px !important;
   border: 3px solid #ede600;
}


/* auto hide dock
.guilds-wrapper {z-index:1;position:absolute;transform:translatex(-91%);top:70px;bottom:53px;transition:.4s;background:transparent;box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.5) inset}
.guilds-wrapper:hover {transform:inherit;transition:.4s;}*/

.theme-dark .activityFeed-28jde9{
    margin: 10px 10px 10px 10px;
    background: linear-gradient(rgba(var(--blue1), var(--aero)), rgba(var(--blue1), var(--aero))), var(--bgb);
    background-attachment: fixed;
    background-position: center;
}

.titleWrapper-1l0xT9{
    margin: 10px 10px 10px 10px;
    background: linear-gradient(rgba(var(--blue1), var(--aero)), rgba(var(--blue1), var(--aero))), var(--bgb);
    background-attachment: fixed;
    background-position: center;
}

.theme-dark .title-3qD0b-{
    background-image: url("https://i.imgur.com/elChOhu.png");
    background-repeat: no-repeat;
    background-position: -50px -10px; 
}

.container-2Rl01u, .header-2o-2hj{
    background-image: url("https://i.imgur.com/elChOhu.png");
    background-repeat: no-repeat;
    background-position: -40px -10px; 
}